.container {
    height: 500vh;
}

.container_section {
    height: 440vh;
}

.section_container {
    background-color: #c3d6ed;
    margin:30px;
    border-radius: 15px;
    padding-top: 20px;
}
.section {
    width: 100%;
}


